<div class="bg-white p-4 auth-form m-auto rounded shadow-sm">
  <div *ngIf="isLoginPage">
    <div class="alert alert-info" role="alert">
      You can login with the following test user details.
      <div class="mt-2">
        <div><span class="fw-bold">Email: </span>testuser@example.com</div>
        <div><span class="fw-bold">Password: </span>password@123</div>
      </div>
    </div>
  </div>
  <div class="text-center mb-3">
    <h4 class="fw-bolder">{{ isLoginPage ? "Login" : "Sign Up" }}</h4>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
      />
    </div>
    <div class="text-center">
      <!-- [disabled]="!form.valid || submitting" -->
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!loginForm.valid || submitting"
      >
        {{ submitting ? "Loading..." : isLoginPage ? "Login" : "Sign Up" }}
      </button>
    </div>
  </form>
</div>
