<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-light shadow vh-100 fixed-top"
  style="width: 280px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-primary fw-bold text-decoration-none"
  >
    <span class="fs-4">OnShop</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let list of navList">
      <a
        class="nav-link link-dark"
        routerLink="{{ list.routerLink }}"
        routerLinkActive="active"
      >
        <i class="bi {{ list.icon }}"></i>
        <span class="ms-2">{{ list.name }}</span>
      </a>
    </li>

    <hr />

    <li class="nav-item">
      <button type="submit" class="nav-link link-dark" (click)="logOut()">
        <i class="bi bi-box-arrow-left"></i>
        <span class="ms-2">Logout</span>
      </button>
    </li>
  </ul>
</div>
